<!DOCTYPE html>
<html>

<style>
    .header{
    background-color:blue;
    color:white;
    text-align:center;
    padding: 10px;
    width : 350px;

    }
    .content{
    width : 350px;
    color: blue;
    padding : 5px;
    }
    .footer{
    color: blue;
    padding : 5px 10px 5px 10px;
    }
</style>

<div class="header">
Instagram
</div>
<div class="content">
    Cristiano Ronaldo<br/>
    <img width="350px" src="https://images.indianexpress.com/2017/10/ronaldo-759.jpg">
</div>
<div class="footer">
    <3 100 likes
</div>
</html>